body{
    background-color: white;
    margin: 0px;
}
h1{
    text-shadow: 2px 2px 3px;
    font-size: 40px;
    margin-left: 180px;
}
#navbar{
    margin-left: 180px;
    font-size: 20px;
}

#p1{
    color: brown;
    font-size: 20px;
}

#p2{
    color: blue;
     font-size: 20px;
}
#p3{
    color: orange;
     font-size: 20px;
}

#p4{
    color:green;
     font-size: 20px;
}

.odd{
    background-color: aqua;
}
.even{
    background-color: lightcoral;
}

.box{
    border: 5px solid;
    font-size: 30px;
    width: 100px;
    height: 100px;
}

#box1{
   background-color: aquamarine;
   margin: auto ;
    
}
#box2{
    background-color: rgb(170, 63, 63);
  
}
