body{
    background-color: white;
    margin: 0px;






    
}
h1{
    text-shadow: 2px 2px 3px;
    font-size: 40px;
    margin-left: 180px;
}
#navbar{
    margin-left: 180px;
    font-size: 20px;
}

#p1{
    color: brown;
    font-size: 20px;
}

#p2{
    color: blue;
     font-size: 20px;
}
#p3{
    color: orange;
     font-size: 20px;
}

#p4{
    color:green;
     font-size: 20px;
}

.odd{
    background-color: aqua;
}
.even{
    background-color: lightcoral;
}

.box{
    border: 5px solid;
    box-sizing: border-box;
    font-size: 30px;
    width: 50%;
    height: 100px;
    float: left;
    text-align: center;
}

#box1{
   background-color: aquamarine;
   
    
}
#box2{
    background-color: rgb(170, 63, 63);
  
}

#img1{
    float: left;
    margin-top: auto;
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
    bottom: 65px;
}
#pd1{
    border: 2px solid;
    height: 75px;
    overflow: scroll;
    width: 300px;
}

#sp1{
    color: black;
    background-color: brown;
    height: 50px;
    width: 50px;
    display: inline-block;
}