body {
    margin: 0px;
}

main {
    margin: 20px;
}

.pagination {
    text-align: center;
}

.pagination a {
    color: black;
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;
}

.pagination a.active {
    background-color: greenyellow;
    font-weight: bold;
    border-radius: 10px;
}

.pagination a:hover:not(active){
    background-color: rgb(161, 159, 159);
    border-radius: 10px;
}

h1 {
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    background-color: rgb(57, 56, 56);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    text-align: center;
    display: block;
}

.navbar a:hover {
    background-color: grey;

}
.navbar li {
    float: left;
}

#box1 {
    width: 250px;
    height: 250px;
    border: 10px solid;
    text-align: center;
    font-size: 5em;
    background-color: hsl(240, 45%, 50%);
    transform: translate(200px);
    animation-name: slideRight;
    animation-duration: 3s;

    
}

@keyframes slideLeft {
    from{transform: translate(300px)}
}

@keyframes slideRight {
    to{transform: translate(-300px)}
}